/* Universal Styles */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
a{
    color: black;
}
.container{
    padding: 0 10%;
}



/* Header Section Styles */
header{
    background-color: #2D25A0;
    display: flex;
    justify-content: space-between;
}
.nav-box{
    margin: 30px 0;
    display: flex;
}
.nav-box a{
    color: white;
    display: block;
    margin: 10px 20px 10px 0;
}
header div{
    background-color: #E02C6D;
}
header div a{
    margin: 10px 20px !important;
}