/* Universal Styles */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
a{
    color: black;
}
.container{
    padding: 0 10%;
}





/* Header Section Styles */
header{
    background-color: #2D25A0;
    display: flex;
    justify-content: space-between;
}
.nav-box{
    margin: 30px 0;
    display: flex;
}
.nav-box a{
    font-size: 20px;
    color: white;
    display: block;
    margin: 10px 30px 10px 0;
}
header div{
    background-color: #E02C6D;
}
header div a{
    margin: 10px 20px !important;
}





/* Showcase Section Styles */
#showcase{
    background-color: #2D25A0;
    color: white;
    display: flex;
    justify-content: space-between;
}
.show-box{
    width: 40%;
    padding: 5% 0;
}
.show-box h1{
    font-size: 60px;
}
.show-box a{
    font-size: 20px;
    margin-top: 75px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #E02C6D;
    color: white;
}
.show-box img{
    width: 100%;
}